.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  background: #f3e4ea;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
}
.Dictionary .hint {
  font-size: 11px;
  color: grey;
  margin-top: 5px;
}
